#header{
    grid-template-columns: 1fr 1fr;
    display: grid ;
justify-items: start;
}
#header>img{
    width: 20vw;
}
#header>section{
    justify-self: end;

}
#main{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#end{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
